<div class="jd-edit">
	<header class="jd-edit__header">
		<div class="jd-edit__back-button">
			<img src="assets/icons/jd_arrow_backward.svg" alt="" />
		</div>

		<div class="jd-edit__header__image">
			<img src="assets/images/subway.png" alt="" />
		</div>

		<div class="jd-edit__header__title">
			<span class="jd-edit__header__name">Subway</span>

			<span class="jd-edit__header__id">ID: 14131</span>
		</div>
	</header>

	<main class="jd-edit__main">
		<section>
			<span class="jd-edit__main__title">Informações Básicas</span>

			<div class="jd-edit__divider"></div>

			<div class="jd-edit__main__row">
				<jd-input label="Nome"></jd-input>
			</div>
		</section>
	</main>
</div>
