.jd-edit {
	padding: 20px 0 30px;
	border-radius: 5px;
	box-shadow: 0 1px 1px 0 var(--jd-color-black-5);
	background-color: var(--jd-color-white);

	&__header {
		display: flex;
		align-items: center;
		padding: 0 32px;

		&__image {
			margin-left: 30px;
		}

		&__title {
			display: flex;
			flex-flow: column;
			gap: 6px;
			margin-left: 22px;
		}

		&__name {
			line-height: 24px;
			font-size: 2.1em;
			font-weight: 700;
			color: var(--jd-color-hunt-darker);
		}

		&__id {
			line-height: 16px;
			font-size: 1.4em;
			font-weight: 500;
		}
	}

	&__main {
		margin-top: 49px;
		padding: 0 30px;
	}

	&__section {
		margin-top: 20px;

		&__title {
			line-height: 18px;
			font-size: 1.6em;
			font-weight: 500;
			color: var(--jd-color-hunt-darker);
		}

		&__row {
			display: flex;
			gap: 20px;
			margin-top: 20px;

			& > jd-select,
			& > jd-input {
				flex-grow: 1;
			}
		}

		&__input-group {
			display: flex;
			flex-grow: 1;
			gap: 10px;
			align-items: flex-end;

			& jd-input:first-child {
				width: 132px;
			}

			& jd-input:last-child {
				width: 66px;
			}
		}
	}

	&__divider {
		width: 100%;
		margin: 18px 0 20px;
		border-bottom: 1px solid var(--jd-color-grey-lighter);
	}
}
