<div class="jd-edit">
	<header class="jd-edit__header">
		<div class="jd-edit__back-button">
			<img src="assets/icons/jd_arrow_backward.svg" alt="" />
		</div>

		<div class="jd-edit__header__image">
			<img src="assets/images/subway.png" alt="" />
		</div>

		<div class="jd-edit__header__title">
			<span class="jd-edit__header__name">Subway</span>

			<span class="jd-edit__header__id">ID: 14131</span>
		</div>
	</header>

	<main class="jd-edit__main">
		<section class="jd-edit__section">
			<span class="jd-edit__section__title">Informações Básicas</span>

			<div class="jd-edit__divider"></div>

			<div class="jd-edit__section__row">
				<jd-select label="Nome"></jd-select>

				<jd-select label="Cidade"></jd-select>

				<jd-input label="Endereço"></jd-input>
			</div>
		</section>

		<section class="jd-edit__section">
			<span class="jd-edit__section__title">Financeiro</span>

			<div class="jd-edit__divider"></div>

			<div class="jd-edit__section__row">
				<jd-select label="Banco"></jd-select>

				<jd-select label="Tipo de conta"></jd-select>

				<jd-input mask="cpfCnpj" label="CPF / CNPJ"></jd-input>
			</div>

			<div class="jd-edit__section__row">
				<div class="jd-edit__section__input-group">
					<jd-input label="Agência" [maxLength]="4"></jd-input>

					<jd-input [maxLength]="1"></jd-input>
				</div>

				<div class="jd-edit__section__input-group">
					<jd-input label="Conta"></jd-input>

					<jd-input [maxLength]="1"></jd-input>
				</div>

				<jd-select label="Saque automático?"></jd-select>
			</div>
		</section>
	</main>
</div>
