:root {
	// Fonts
	--jd-font-margem: 'Margem';

	// Colors
	--jd-color-white: #fff;
	--jd-color-black-5: rgba(0, 0, 0, 5%);
	--jd-color-hunt-darker: #4c5164;
	--jd-color-hunt-alt: #81879c;
	--jd-color-grey-light: #d3d5e0;
	--jd-color-grey-darker: #7b7e8c;
	--jd-color-background: #f8f9fd;
}
