/* You can add global styles to this file, and also import other style files */
@import './theme/fonts';
@import './theme/forms';
@import './theme/variables';

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 62.5%;
	background-color: var(--jd-color-background);
	font-family: var(--jd-font-margem);
	color: var(--jd-color-hunt-alt);
	overflow-y: scroll;

	:focus {
		outline: none;
	}	
}
